.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
    font-size: 20px;
}

.nav-button {
    padding: 10px 20px;
    border-radius: 50px;
    position: absolute;
    margin-left: 75rem;
    background: linear-gradient(267deg,  #FFB200 0.36%, #ff0055 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-button:hover {
    transform: scale(1.05);
}